*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
}


.calcu{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 500px;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

#keys{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    padding: 25px;
    
}

#display{
     width: 100%;
    overflow: hidden;
    padding: 25px;
    font-size: 5rem;
    text-align: left;
    border: none;
  background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
button{
    width: 90px;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: darkslategrey;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #6b5b5b;
}

button:active{
    background-color: #856c6c;
}